/* shared related style*/

/*banner section start*/
.banner-section{
    margin: 50px 140px;
    background-image: url("images/Banner\ Image.png");
   background-repeat: no-repeat;
   background-size: cover;
   padding: 90px 0 150px 0;
    border-radius: 16px;

    
}
.new-year-greeting{
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;

}
.new-year-heading{
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 10px;
    max-width: 632px; 
    margin: 0 auto;
   
}
/*banner section end*/


/*category section start*/

main{
    margin: 50px 140px; 
}
.category-off{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
   
}
.holiday-deals{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;

}
.category-title{

    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;
}
.category-img{
  padding: 0 100px;
}
/*category section end*/

/*welcome section start*/

/*welcome section end*/
