/* shared related style*/

/*banner section start*/
.banner-section{
    margin: 50px 100px;
    background-image: url("images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0 150px 0;
    border-radius: 16px;

    
    
}
.new-year-greeting{
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;

}
.new-year-heading{
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 10px;
    max-width: 632px; 
    margin: 0 auto;
   
}
/*banner section end*/


/*category section start*/

main{
    margin: 50px 100px; 
}
.category-off{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
   
}
.holiday-deals{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;

}
.category-title{

    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;
}
.category-img{
  padding: 0 100px;
}
/*category section end*/

/*welcome section start*/
.welcome-section{
    display: flex;
    background-image: url("images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin-top: 100px;
   
    
}
.welcome-content{
    padding:  0px 70px 0px 70px;
}

.welcome-greeting{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    margin-bottom: 0;

}
.party-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
}
.join-btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    border: none;
    background-color: #ff0000;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    transition: all.5s;
    margin-top: 30px;
}
.join-btn:hover{
    background-color: #e9e4e4;
    color: #ff0000;
    transition: all.5s;
    border: 2px solid #ff0000;
}

.new-year-img{
    padding: 30px;
}
/*welcome section end*/

/*date related section start*/
.date-section{
    background-color: #ffebeb;
    text-align: center;
    padding: 50px 0 100px 0;
    margin: 100px 0;
    border-radius: 16px;
}
.date-section p{
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    line-height: 46px;
    text-transform: capitalize;
    margin-bottom: 10px;
    }
    .date-section span{
        color: #F00;
    }
/*date related section end*/

/*offer related section end*/
.offer-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.offer-heading{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
   
}
.offer-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 0;
}
.offer-description{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 10px;
}
/*offer related section end*/
